@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('./assets/fonts/css/clash-display.css');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800&display=swap');

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "DM Sans", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.button {
  font-family: 'ClashDisplay-Regular';
}
/* div {
  font-family: 'ClashDisplay-Bold';
} */
.logo-span {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 5px;
}
.logo-text {
  color: #121212;
font-size: 28px;
font-weight: 600;
line-height: 37.80px;
letter-spacing: 1.12px;
word-wrap: break-word;

}

.footer-logo {
  color: white;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 1.12px;
  word-wrap: break-word; 
}
.logo-icon {
  width: 8px;
  height: 8px;
}

.link-item {
  font-family: 'DM Sans', sans-serif;

}

.footer-title {
  letter-spacing: 0.5px;

}


/* 
 */

.company-div {
  display: flex;
  flex-direction: column;
gap: 1em;
}

@media (max-width: 765px) {
  .bottoms {
    display: flex;
      flex-direction: column;
      align-content: flex-start;
      justify-content: flex-start;
  }
  .home-heading {
    font-size: 24px;
    left: 10%;
    width: 100%;
    text-align: left;

  }
  .linkedin {
    position: absolute;
    bottom: 2%;
    left: 5%;


  }
.heading-star {
  left: 5%;
}
.button-star {
  width: 100%;
}
  .star-header-home {
    height: 250px;
    width: 80%;
    text-align: center;


  }
  .custom-button-group {
    position: absolute;
    bottom: 0%;
    left: 40%;
    transform: translateY(-50%);
  }
  .contact {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 100px;
    padding-bottom: 100px;
    overflow-x: hidden;
    gap: 40px;
  }
  .last-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  

  .hub-star {
    left: 10%;

  }
  /* .hub-star-text {
    width: 100%;
  } */
  .hub-star-box {
    width: 100vw;
  }
.hub-text-top {
  left: 5%;
}
.hub-pic {
  width: 100%;
  margin-left: 0px;
  height: 300px;
  object-fit: cover;

}
.hero-div {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: space-around;
margin:auto;
width: 80%;
  overflow-x: hidden;
  gap: 40px;
}
.hub-button {
  width: 80%;
}
  .relative-box {
    width: 100%;
    position: relative;
  }
  .object-cover {
    object-fit: cover;
    height: 150px;
  }
  .projects {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    width: 100%;
  }
 
  .partner-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 0px 24px;
  }
  .missions {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    background-color:  #F8FFCF;
    width: 100%;
    padding: 80px 24px;

    gap: 1em;
  }

  .hub, .env, .farm, .water, .health {
    width: 100%;
    height: 480px;


  }

  .home {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color:  #F8FFCF;
    width: 100%;
    padding: 80px 24px;

    gap: 1em;
  }

  .mission-text {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }

 .right-header {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-top: 64px;
  margin-left: 24px;
 }
 #popover {
  width: 80%;
}
.pop-image {
  width: 100%;
  object-fit: fill;
}
}

@media (min-width: 766px) {
  .projects-main {
    margin-left: 120px;
    margin-right: 120px;
    
  }
  #popover {
    width: 60%;
    padding-left: 0%;

  }
  .linkedin {
    position: absolute;
    bottom: 27%;
    left: 42%;


  }
  .pop-content {
    padding-left: 5%;
    margin: 0px 0px 0px 0px;
  }
  #team-corner {
    padding-left: 0%;
  }
  .custom-button-group {
    position: absolute;
    top: 10%;
    right: 10%;
    transform: translateY(-50%);
  }
  .black-div {
  }
.missions {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  align-items: center;
  justify-content: flex-start;
  background-image: url("./assets/images/mission.png");
  background-size: cover;
  gap: 100px;

}
.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto, 1fr);
}
.sdg-header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}
.home {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  background: #F8FFCF;
  gap: 100px;

}
.mission-text {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.mission-image {
  width: 480px;
  height: 480px;
}



}

.missions-header {
  font-size: 32px;

}

.home {
  background-color: #F8FFCF;

}
.sdg-logo {
  color: #121212;
font-size: 20px;
font-family: 'ClashDisplay-Bold', sans-serif;
font-weight: 600;
line-height: 27px;
letter-spacing: 0.80px;
word-wrap: break-word
}

.home-header{
  font-size: 32px;
  font-weight: 600;
  line-height: 43.20px;
  letter-spacing: 1.28px;
  color: #121212;
  margin-bottom: 1em;
  font-family: 'ClashDisplay-Bold';
}

.partners-header {
  font-size: 16px;
  font-weight: 600;
  line-height: 43.20px;
  letter-spacing: 1.28px;
  color: #121212;
  margin-bottom: 1em;
  font-family: 'ClashDisplay-Bold';
}


.sdg-blue-header {

color: #E9FF61;
font-size: 24px;
font-family: 'ClashDisplay-Bold', sans-serif;
font-weight: 600;
line-height: 32.40px;
letter-spacing: 0.96px;
word-wrap: break-word
}

.hub {
  background-image: url("./assets/images/altru-hub.svg");
  background-size: cover;
  background-repeat: no-repeat;

}



.health {
  background-image: url("./assets/images/health-img.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.water {
  background-image: url("./assets/images/water-tech.svg");
  background-size: cover;
  background-repeat: no-repeat;
  backface-visibility: 0.5;
}

.env {
  background-image: url("./assets/images/env-img.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.farm {
  background-image: url("./assets/images/kadula.svg");
  background-size: cover;
  background-repeat: no-repeat;
}


.about-home {
  background-color: #F8FFCF;

}

.contact-div {
  background-image: url("./assets/images/background-2.png");
  background-size: cover;
  background-repeat: no-repeat;
}

input, textarea {
  border-color: gray;
  border-width: 1px;
  
}

.team-hero {
  background: #E4EDFF;
}

label {
  font-family: 'ClashDisplay-Semibold';
}
@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.sliding {
  white-space: nowrap;
  animation: slideIn 10s linear infinite;
  font-size: 28px;
font-family: 'ClashDisplay-Bold', sans-serif;
font-weight: 700;
line-height: 42px;
letter-spacing: 1.12px;
word-wrap: break-word
}

.video-div {
  border-width: 2rem;
  

}
.arrow-div {
  border-radius: 50%;
  padding: 10px;
}



.carousel-button {
  color: white;
  border-radius: 50%;
  border: none;
  margin: 0 10px;
}

.card {
  margin-right: 1rem;
}

.animated-image {
  transition: opacity 1s ease-in-out;
}